<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/sulbti.css">
</head>
<body>
  <div id="wrapper">
    <div id="top">
        <div id="top_left">
            <div id="logo">

            </div>
        </div><!-- top_left end-->
        <div id="top_middle">
        </div><!-- top_middle end-->
        <div id="top_right">

        </div><!-- top_right end-->
    </div><!-- top end -->
    <div class="content">
        <div class="frame">
            <button class="custom-btn btn-8" id="sulbtiButton">
                <span>술BTI 시작하기</span>
            </button>
            <button class="select-btn btn-10">
                <span>대충 달달한 술</span>
            </button>
            <button class="select-btn btn-10">
                <span>대충 어른의 맛</span>
            </button>
            <button class="select-btn btn-10">
                <span>대충 애들입맛</span>
            </button>
        </div>
    </div><!-- content end-->
  </div><!-- wrapper end -->
</body>
<script src="./js/sulbti.js"></script>
</html>