<c:set var="contextPath" value="${pageContext.request.contextPath}"  /> 
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../resources/css/sulinformation.css">
</head>
<body>
 <!--<div class="mainheader">
 <div class="head-title">	
       <h1>JUKEA</h1>
       <h4>밤은 길고 술은 달다 ★</h4> 
  </div>
</div>  -->
<div class="sul">
    <ul>
        <li>
            <ul class="sulimg">
                <li>
                    <a href="sulinfomationEx2.html">
                        <img width="180" height="180" src = "../../resources/image/bal.png">
                    </a>
                </li>
                <li>
                    <a href="sulinfomationEx2.html">발렌타인 17</a>
                    <p><span>125,000원</span></p>
                </li>
            </ul>
          </li>
      <li>
        <ul class="sulimg">
            <li>
                <a href="sulinfomationEx2.html">
                    <img width="180" height="180" src = "../../resources/image/bal.png">
                </a>
            </li>
            <li>
                <a href="sulinfomationEx2.html">발렌타인 17</a>
                <p><span>125,000원</span></p>
            </li>
        </ul>
      </li>
      <li>
        <ul class="sulimg">
            <li>
                <a href="sulinfomationEx2.html">
                    <img width="180" height="180" src = "../../resources/image/bal.png">
                </a>
            </li>
            <li>
                <a href="sulinfomationEx2.html">발렌타인 17</a>
                <p><span>125,000원</span></p>
            </li>
        </ul>
      </li>
      <li>
        <ul class="sulimg">
            <li>
                <a href="sulinfomationEx2.html">
                    <img width="180" height="180" src = "../../resources/image/bal.png">
                </a>
            </li>           
            <li>
                <a href="sulinfomationEx2.html">발렌타인 17</a>
                <p><span>125,000원</span></p>
            </li>
        </ul>
      </li>
      <li>
        <ul class="sulimg">
            <li>
                <a href="sulinfomationEx2.html">
                    <img width="180" height="180" src = "../../resources/image/bal.png">
                </a>
            </li>          
            <li>
                <a href="sulinfomationEx2.html">발렌타인 17</a>
                <p><span>125,000원</span></p>
            </li>
        </ul>
      </li>
      <li>
        <ul class="sulimg">
            <li>
                <a href="sulinfomationEx2.html">
                    <img width="180" height="180" src = "../../resources/image/bal.png">
                </a>
            </li>          
            <li>
                <a href="sulinfomationEx2.html">발렌타인 17</a>
                <p><span>125,000원</span></p>
            </li>
        </ul>
      </li>
      <li>
        <ul class="sulimg">
            <li>
                <a href="sulinfomationEx2.html">
                    <img width="180" height="180" src = "../../resources/image/bal.png">
                </a>
            </li>          
            <li>
                <a href="sulinfomationEx2.html">발렌타인 17</a>
                <p><span>125,000원</span></p>
            </li>
        </ul>
      </li>
      <li>
        <ul class="sulimg">
            <li>
                <a href="sulinfomationEx2.html">
                    <img width="180" height="180" src = "../../resources/image/bal.png">
                </a>
            </li>           
            <li>
                <a href="sulinfomationEx2.html">발렌타인 17</a>
                <p><span>125,000원</span></p>
            </li>
        </ul>
      </li>
      <li>
        <ul class="sulimg">
            <li>
                <a href="sulinfomationEx2.html">
                    <img width="180" height="180" src = "../../resources/image/bal.png">
                </a>
            </li>          
            <li>
                <a href="sulinfomationEx2.html">발렌타인 17</a>
                <p><span>125,000원</span></p>
            </li>
        </ul>
      </li>
      <li>
        <ul class="sulimg">
            <li>
                <a href="sulinfomationEx2.html">
                    <img width="180" height="180" src = "../../resources/image/bal.png">
                </a>
            </li>          
            <li>
                <a href="sulinfomationEx2.html">발렌타인 17</a>
                <p><span>125,000원</span></p>
            </li>
        </ul>
      </li>
  </ul>
</div>
  
</body>
</html>