<c:set var="contextPath" value="${pageContext.request.contextPath}"  /> 
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../resources/css/sulinformation2.css">
</head>
<body>
    <body>
        <div class="mainheader">
            <div class="head-title">	
              <h1>JUKEA</h1>
              <h4>밤은 길고 술은 달다 ★</h4>
            </div>
        </div>
        <div class="search">
            <input type = "text" value=" 술 이름을 입력하세요" style="width:400px;height:30px;font-size:15px;">
            <input type = "submit" value="검색" style="height:30px; width: 50px;">
        </div>
        <div class="sul">
            <ul class="banner">
              <form>
                <li>
                <input type="radio" id="whi" value="위스키" name="alc" checked="checked">
                    <label for="whi">위스키</label>
                </li>
                <li>
                  <input type="radio" id="win" name="alc" value="와인">
                      <label for="win">와인</label>
                </li>
                <li>
                  <input type="radio" id="sak" name="alc" value="사케">
                      <label for="sak">사케</label>
                </li>
                <li>
                  <input type="radio" id="bee" name="alc" value="맥주">
                      <label for="bee">맥주</label>
                </li>
                <li>
                  <input type="radio" id="bra" name="alc" value="브랜디">
                      <label for="bra">브랜디</label>
               </li>
                <li>
                  <input type="radio" id="req" name="alc" value="리큐르">
                      <label for="req">리큐르</label>
                </li>
                <li>
                  <input type="radio" id="soj" name="alc" value="소주">
                      <label for="soj">소주</label>
               </li>
              </form>
            </ul>
        </div>
        <hr style="border: solid 1px white;">
    <div class="sulname">
        <h1><p class="title">발렌타인 17년</p></h1>
        <div class="img" >
            <img src = "../../resources/image/bal.png">
        </div>
        <div class="info">
            <table height="300" > 
                <tbody>
                    <tr>
                        <td>원산지</td>
                        <td>영국</td>
                    </tr>
                    <tr>
                        <td>용량</td>
                        <td>700</td>
                    </tr>
                    <tr>
                        <td>알콜도수</td>
                        <td>40%</td>
                    </tr>
                    <tr>
                        <td>소비자가격</td>
                        <td>160,000 원</td>
                    </tr>
                    <tr>
                        <td>판매가격</td>
                        <td><span style="font-size: 40px;">125,000 원</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="infodetail">
            <p>
                발렌타인은 19세기 George Ballantine씨가 블랜딩 해 팔기 시작한 블랜디드 스카치 위스키 입니다.<br> 
                발렌다인은 향이 강하지 않게 블랜딩하고 블랜딩후 추가로 숙성시켜 목넘김이 부드럽습니다. <br>
                그렇기 때문에 한국인들에게 가장 선호하는 술로 알려져 있고 한국에서 가장 많이 팔리는 외국 브랜디 위스키 입니다<br>
                발렌타인 17년은 황금빛 색깔과 바닐라 느낌의 우아한 향이 나고 오크와 피트의 스모크한 향의 달콤한 맛이 느껴집니다.<br>
            </p>
        </div>
    </div>
</body>