@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
   -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
     -ms-box-sizing:border-box;
      -o-box-sizing:border-box;
       box-sizing:border-box; 
      margin: 0;
    padding: 0;}

html { width: 100%; height:130%;}

body { 
  width: 100%;
  height:90%;
  font-family: 'Open Sans', sans-serif;
  background: #092756;
  background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
  color: white;
}

.mainheader { 
  text-align: center;
  margin:0 auto;
  width:100%;
  height:100px;
}

.mainheader h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align: center; }

.head-title{
  margin-top:40px;
  margin-bottom: 40px;

}
.head-title h4{
  color: #fff; text-align: center;
}

.search{
  text-align: center;
}

.banner{
  list-style: none;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: auto;
}

.banner li{
  display: inline-block;
  padding: 10px;
}

.sul{
  margin:10px;
  height: 50px;
  text-align: center;
}

.banner input {
  display: none;
}

input[type=radio]:checked + label {
  color:red;
}

.main{
  height: auto;
}

.page{
  text-align: center;
  width: 100%;
  height: 20%;
}

.pagination {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 20px;
}

.pagination li {
  display: inline;
  text-align: center;
  margin: auto;
}

.pagination a {
  float: left;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 12px;
  color: #96a0ad;
  line-height: 1.5;
}

.first{
  margin-right: 15px;
}

.last{
  margin-left: 15px;
}

.first:hover, .last:hover, .left:hover, .right:hover{
  color: #2e9cdf;
}

.pagination a.active {
  cursor: default;
  color: #ffffff;
}

.pagination a:active {
  outline: none;
}

.modal .num{
  margin-left: 3px;
  padding: 0;
  width: 30px;
  height:30px;
  line-height: 30px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.modal .num:hover {
  background-color: #2e9cdf;
  color: #ffffff;
}

.modal .num.active, .modal .num:active {
  background-color: #2e9cdf;
  cursor: pointer;
}

.arrow:left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid blue;
}

.sullist{
  width: 80%;
  height: 70%;
  margin: auto;
  text-align: center;
  position: relative;top: 70px;
}

.sullist ul{
  list-style-type: none;
}
.sullist li{
  float: left;
  margin-left: 107px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.sulimg ul{
  margin: auto;
}

.sulimg li{
  margin: auto;
  float: none;
}

.sulimg a{
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.sulimg p{
  font-size: 25px;
  color: orange;
}